<div class="row">
	<div class="large-2 columns">
		<%= render 'side_nav' %>
  </div>
  <div class="large-10 columns">

<h1><%= @tag.title %></h1>

<% if @tag.media.count > 0 %>
	<% if @tag.media.where(featured: true).count > 0 %>
		<ul class="small-block-grid-1">
			<% @tag.media.where(featured: true).order("priority DESC").each do |media| %>
				<li><h4><a href="<%= media.website %>"><%= media.title %></a></h4>
				<% unless media.summary =="" %>
					<p><%= media.summary.html_safe %></p></li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
	<ul class="small-block-grid-1 large-block-grid-2">
		<% (@tag.media - @tag.media.where(featured: true)).each do |media| %>
			<li><h5><a href="<%= media.website %>"><%= media.title %></a></h5>
			<% unless media.summary =="" %>
				<p><%= media.summary.html_safe %></p></li>
			<% end %>
		<% end %>
	</ul>
<% end %>

  </div>
</div>