<div class="row">
  <div class="large-12 columns">
    <img src="<%= asset_path 'composition.jpg' %>", alt="http://placehold.it/1000x400&text=[img]">
    <hr>


<% if @pieces.count > 0 %>
	<% if @featured_pieces.count > 0 %>
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
			<% @featured_pieces.each do |piece| %>
				<li><h2><%= piece.title %></h2>
				<% unless piece.summary =="" %>
					<p><%= piece.summary %></p>
				<% end %>
				<a href="<%= piece_path(:title => piece.title) %>" class="button round">More</a></li>
			<% end %>
		</ul>
	<% end %>
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% (@pieces - @featured_pieces).each do |piece| %>
			<li><h2><%= piece.title %></h2>
			<% unless piece.summary =="" %>
				<p><%= piece.summary %></p>
			<% end %>
			<a href="<%= piece_path(:title => piece.title) %>" class="button round">More</a></li>
		<% end %>
	</ul>
<% end %>

  </div>
</div>