
  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; <%= Time.now.year %> Andrew Linford
          <a href = "http://twitter.com/AndrewLinfordSF"><img src="twitter.png"></a>
          <a href = "http://sg.linkedin.com/pub/andrew-linford/35/67b/956"><img src="linkedin.png"></a>
          <a href = "http://github.com/oleger814"><img src="github.png"></a>
          <a href="mailto:andrew@discovership.com?Subject=Website" target="_top"><img src="mail.png"></a></p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="http://andrewlinford.wordpress.com/">Blog</a></li>
            <li><%= link_to "Resume", resume_path %></li>
            <li><%= link_to "Photos", photos_path %></li>
            <li><%= link_to "Music", music_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
            <li><%= link_to "Media", media_path %></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>