
  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; <%= Time.now.year %> Andrew Linford</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="http://andrewlinford.wordpress.com/">Blog</a></li>
            <li><%= link_to "Resume", resume_path %></li>
            <li><%= link_to "Photos", photos_path %></li>
            <li><%= link_to "Music", music_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>