<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Andrew Linford", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Home", root_path %></li>
      <li class="divider"></li>
      <li><a href="http://andrewlinford.wordpress.com/">Blog</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Resume</a>
        <ul class="dropdown">
          <li><%= link_to "General Information", resume_path %></li>
          <% unless @tags.nil? || @tags.count == 0 %>
            <li><label>Featured Resumes</label></li>
            <% @tags.each do |tag| %>
              <li><%= link_to tag.title, tag_path(:title => tag.title) %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    </ul>
  </section>
</nav>



<% if @title == "Home" %>
  <header class="show-for-medium-up" id="homepage">
    <div class="row">
      <div class="small-8 small-centered columns">
        <br>
        <h1>Andrew Linford</h1>
        <h4>His personal webpage - see for yourself!</h4>
        <br>
        <%= link_to "See Andrew's Resumes", resume_path, :class=>"round button" %>
        <br>
        <div id="watch">
          <section id="twitter">
            <a href="http://twitter.com/AndrewLinfordSF">@AndrewLinfordSF</a>
          </section>
        </div>
      </div>
    </div>
  </header>

  <header class="show-for-small" id="small-homepage">
    <div class="row">
      <div class="small-9 small-centered columns">
        <h1>Andrew Linford</h1>
        <h4>His personal webpage</h4>
        <br>
        <%= link_to "See Andrew's Resumes", resume_path, :class=>"round button" %>
        <div id="watch">
          <section id="twitter">
            <a href="http://twitter.com/AndrewLinfordSF">@AndrewLinfordSF</a>
          </section>
        </div>
      </div>
    </div>
  </header>
<hr>
<% end %>